:root {
    --bg-button: #f0f0f0;
    --border-button: solid 1px #888;
    --shadow-button: inset 0 2px 0 0 #fff8, inset 0 -2px 0 0 #0004, 0 4px 0 0 #0002;
}

.button {
    font-size: 1.4em;
    padding: 0;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}

.button:active {
    background-color: #ccc;
}

.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
}

.button.operation {
    background-color: #fa8231;
    color: #fff;
}

.button.operation:active {
    background-color: #fa8231cc;
}